<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {%block naslovnica%}
    {%endblock naslovnica%}
</head>
<body>

{% block vsebina %}
{% endblock vsebina %}

    <h2>Podstrani</h2>
    <ul>
        <li><a href="http://localhost:8080/">Domaca stran</a></li>
        <li><a href="http://localhost:8080/o-meni">O meni</a></li>
        <li><a href="http://localhost:8080/moji-projekti">Moji projekti</a></li>
        <li><a href="http://localhost:8080/blog">Blog</a></li>
        <li><a href="http://localhost:8080/kontakt">Kontakt</a></li>
    </ul>
</body>
</html>
